<div class="jumbotron">
  <h1>Welcome to our book store</h1>
  <p>the smallest online bookstore ever</p>
  <%= link_to "Books", "#", class: "btn btn-primary btn-block form-signin"%>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-block form-signin"%>
</div>